@import '../../../ui/atoms/color/index.scss';
.exception-container {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    svg {
        max-width: 516px;
    }
    a {
        font-size: 18px;
        color: $dark;
        display: inline-block;
        border: 1px solid $black;
        padding: 0px 5px;
        border-radius: 10px;
    }
    a:hover {
        color: $primary;
        border-color: $primary;
    }
}

@media (min-width: 319px) {
    .exception-container {
        svg {
            width: 75%;
        }
    }
}
@media (min-width: 427px) {
    .exception-container {
        a {
            font-size: 25px;
        }
    }
}
