@import '../../../atoms/color/index.scss';

.dropdown-tree-container {
    position: relative;
    cursor: pointer;
    .selected-value {
        border: none;
        outline: 0;
        min-height: 30px;
        width: 100%;
        padding: 5px 25px 6px 0;
        box-sizing: border-box;
        border-bottom: 1px solid $grey;
        display: flex;
        align-items: center;
        &.select-disabled {
            pointer-events: none;
            background-color: #fafafa;
        }
        & > .icon-down {
            outline: none;
            position: absolute;
            right: 1px;
            transition: 0.3s;
            fill: $placeholder;
            height: 10px;
            &:hover,
            &:focus {
                fill: $primary;
                background: none;
                box-shadow: none;
            }
        }
        & ~ .focus-border {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            border-radius: 1px;
            transition: 0.4s;
        }
        &::-webkit-input-placeholder {
            color: $grey;
            text-transform: initial;
        }
        &::-webkit-calendar-picker-indicator {
            opacity: 1;
            color: $grey;
        }
    }
    .select-placeholder {
        color: $grey;
    }
    .data-list {
        position: absolute;
        z-index: 1000;
        background: $white;
        width: 100%;
        top: calc(100% + 1px);
        max-height: 200px;
        overflow-y: scroll;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        .child-nodes {
            display: none;
            &.child-nodes-focus {
                display: block;
                padding-left: 20px;
            }
        }
        .option {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            &:hover {
                background-color: $optionHover;
            }
            label {
                padding: 5px;
                flex-grow: 1;
                cursor: pointer;
            }
        }
        .option-active {
            background-color: $optionActive;
        }
        .node-parent {
            .btn-icon-default {
                height: 8px;
                padding: 0;
                fill: #bcbcbc;
                transform: rotate(90deg);
                padding: 4px;
                &:focus,
                &:hover {
                    fill: $darkGrey;
                    background: none;
                    box-shadow: none;
                }
            }
        }
        &.focus {
            display: block !important;
        }
        &.focus ~ .selected-value {
            .icon-down {
                transition: 0.3s;
                transform: rotate(180deg);
            }
        }
        &.focus ~ .focus-border {
            background: $primary;
            width: 100%;
            transition: 0.4s;
            left: 0;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
        }
        &::-webkit-scrollbar-thumb {
            background-color: $grey;
        }
    }
}
