@import '../../../ui/atoms/color/index.scss';
#change-password-form {
    .card {
        .card-header {
            background-color: $bgCardHead;
            font-size: 18px;
        }
        .card-content {
            padding: 12px;
            .password-item {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 20px;
                .label-item {
                    width: 100%;
                    @media (min-width: 480px) {
                        width: 200px;
                    }
                }
                .input-item {
                    width: 100%;
                    @media (min-width: 480px) {
                        width: calc(100% - 200px);
                    }
                }
            }
            .action-button {
                text-align: right;
            }
        }
    }
}
