$primary: #0c4da2;
$hoverPrimary: #276cda;
$secondary: #6c757d;
$success: #28a745;
$hoverSuccess: #48c774;
$danger: #dc3545;
$hoverDanger: #f03a5f;
$warning: #ffc107;
$hoverWarning: #ffdb4a;
$info: #17a2b8;
$hoverInfo: #2793da;
$dark: #343a40;
$default: #e0e0e0;
$hoverDefault: #dbdbdb;
$white: #fff;
$black: rgb(31, 30, 30);
$placeholder: #b3b3b3;
$grey: #cccccc;
$darkGrey: #777777;
//select
$optionHover: #f5f3f3;
$optionActive: #e6f7ff;
$optionSelect: #f5f5f5;
//pagination
$bgPagination: #f7f7f7;
$bgLinkPagination: #e3e3e3;
$btnPagination: #fbfbfb;
//table
$bgHead: #fafafa;
$borderLine: #f0f0f0;
//card
$bgCardHead: #f7f7f7