@import '../../../atoms/color/index.scss';
.table {
    width: 100%;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
    .thead {
        background: $bgHead;
        font-weight: 500;
        user-select: none;
        tr {
            th {
                .delete-columns {
                    position: relative;
                    .icon-delete {
                        position: absolute;
                        float: right;
                        display: none;
                        right: 0;
                        top: 7px;
                    }
                }
                .delete-columns:hover {
                    .icon-delete {
                        display: block;
                    }
                    .icon-delete:hover {
                        cursor: pointer;
                    }
                }
            }
            .icon-btn-delete {
                div {
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .input.input-numberbox input {
                            padding-bottom: 5px;
                        }
                        div {
                            width: 100%;
                        }
                        .icon-delete {
                            margin-left: 8px;
                        }
                        .icon-delete:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    tbody {
        background-color: $white;
        .hidden {
            display: none !important;
        }
    }
    &__th__cell {
        color: rgba(0, 0, 0, 0.85);
        border-bottom: 1px solid $borderLine;
        position: relative;
        padding: 16px;
        overflow-wrap: break-word;
        font-size: 15px;
        text-align: left;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        transition: background 0.3s ease;
    }
    & tr {
        .delete-columns:hover {
            cursor: pointer;
        }
        &:hover {
            background-color: $bgHead;
        }
        .table__th__cell {
            border-right: 1px solid #f0f0f0;
        }
        .text-center {
            text-align: center;
            color: $dark;
            padding: 5px 10px;
        }
        .text-right {
            text-align: right;
            color: $dark;
            padding: 5px 10px;
        }
        .table__th__cell {
            a {
                font-weight: 100;
                margin: 8px 0;
                color: $primary;
                word-break: break-all;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
            }
            a:hover {
                font-weight: 500;
                text-decoration: underline;
            }
            .position {
                background-color: $white;
                cursor: pointer;
                height: 30px;
                div {
                    padding: 7px 0;
                    border-bottom: 1px solid $grey;
                }
            }
        }
    }
    &__span {
        color: $primary;
        margin-right: 10px;
        cursor: pointer;
    }
    &__tag {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.85);
        line-height: 1.5715;
        display: inline-block;
        margin: 0 8px 0 0;
        text-transform: uppercase;
        padding: 0 7px;
        font-size: 13px;
        line-height: 20px;
        white-space: nowrap;
        background: $bgHead;
        border: 1px solid $borderLine;
        border-radius: 2px;
        cursor: pointer;
        opacity: 1;
        -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        &--green {
            color: $success;
            background: $grey;
            border-color: $success;
        }
        &--geekblue {
            color: $primary;
            background: $grey;
            border-color: $primary;
        }
        &--volcano {
            color: $danger;
            background: $grey;
            border-color: $danger;
        }
    }
    .table-header-sort {
        width: 100%;
        display: inline-block;
        &__content {
            display: inline-flex;
            align-items: center;
            &__icon {
                margin-left: 8px;
                display: inline-flex;
                flex-direction: column;
                height: 20px;
                &__up,
                &__down {
                    height: 8px;
                    width: 8px;
                    cursor: pointer;
                    position: relative;
                    fill: $darkGrey;
                    &:hover {
                        fill: $primary;
                    }
                    &.active {
                        fill: $primary;
                    }
                }
                &__up {
                    top: -5px;
                }
                &__down {
                    top: -14px;
                }
            }
        }
    }
}

.lds-over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > label {
        position: absolute;
        bottom: 0;
        color: $white;
    }
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
